// RUBIKFEEEEEEEEEEEEEEEEEEEEEE
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v18-latin-regular.woff2") format("woff2"),
    url("../fonts/rubik-v18-latin-regular.woff") format("woff"),
    url("../fonts/rubik-v18-latin-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v18-latin-500.woff2") format("woff2"),
    url("../fonts/rubik-v18-latin-500.woff") format("woff"),
    url("../fonts/rubik-v18-latin-500.ttf") format("truetype");
}

// MOOTSASWDWFDEFEFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v23-latin-300.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-300.woff") format("woff"),
    url("../fonts/montserrat-v23-latin-300.ttf") format("truetype");
}
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v23-latin-500.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-500.woff") format("woff"),
    url("../fonts/montserrat-v23-latin-500.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v23-latin-600.woff2") format("woff2"),
    url("../fonts/montserrat-v23-latin-600.woff") format("woff"),
    url("../fonts/montserrat-v23-latin-600.ttf") format("truetype");
}

//   BEDFIUWEGBFVYUDGHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dancing-script-v22-latin-regular.woff2") format("woff2"),
    url("../fonts/dancing-script-v22-latin-regular.woff") format("woff"),
    url("../fonts/dancing-script-v22-latin-regular.ttf") format("truetype");
}
